*.env
*.pyc
volumes/
bert-base-uncased/
bert-base-uncased-tokenizer/
multi-label-class-classification-on-github-issues-tokenizer/
multi-label-class-classification-on-github-issues/
.DS_Store
Milvus_testing.ipynb